.m-100{
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  margin-top: 100px;
}

.material-symbols-outlined-add {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  float: right;
  margin-top: 1px;
  margin-right: 2px;
  top:0;
  right:0;
  font-variation-settings:
    'FILL' 50,
    'wght' 600,
    'GRAD' 100,
    'opsz' 100
}

.material-symbols-outlined-home {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  float: left;
  font-size: 50px;
  font-variation-settings:
    'FILL' 50,
    'wght' 600,
    'GRAD' 100,
    'opsz' 100
}
.material-symbols-outlined-login {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  align-content: center;
  font-variation-settings:
    'FILL' 50,
    'wght' 600,
    'GRAD' 100,
    'opsz' 100
}

.searchField {
  width: 300px;
  height: 50px;
  border:1px solid black;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
}

.displayText {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  align-content: center;
  margin-bottom: 300px;
  margin-top: 5px;
}

.main{
  padding: 1.5rem;
  border: 1px solid #dee2e6;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.action svg{
  margin: 0px 5px 0px 5px;
}

